
.rdg {
  block-size: 100%;
  width: 100%;
  height: 100%;
  border: 1px solid var(--border);
  box-sizing: border-box;
  overflow: auto;
  -webkit-user-select: none;
  user-select: none;
  background-color: var(--background);
  position: absolute; /* Posicionamento absoluto para ocupar todo o container pai */
  inset: 0; /* Expandir para preencher todo o container pai */
}

.rdg *,
.rdg ::after,
.rdg ::before {
  box-sizing: inherit;
}

.rdg-row {
  background-color: var(--background);
  border-block-end: 1px solid var(--border);
}

.rdg-row:hover {
  background-color: var(--row-hover-bg-color);
}

.rdg-cell {
  background-color: inherit;
  border-inline-end: 1px solid var(--border);
  padding-block: 0;
  padding-inline: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
}

.rdg-cell:focus {
  outline: none;
}

.rdg-header-row {
  background-color: var(--header-background-color);
  font-weight: bold;
}

.rdg-header-row .rdg-cell {
  border-block-end: 1px solid var(--border);
}

.rdg-cell-editing {
  padding: 0;
}
